.card-largura {
  max-width: 18rem; /* não deve ser esticado */
}

.imagem-carrossel {
  object-fit: cover;
  object-position: 0 80%; /*eixo X e eixo Y para mudar de posição*/
  height: 400px;
}

.imagem-carrossel-2 {
  object-fit: cover;
  height: 400px;
}

.fonte-título {
  font-family: 'Pacifico', cursive;
}

.cor-especial {
  color: darkred!important;
}

.botao-cor-especial {
  background-color: darkred;
  color: white;
}

.borda-cor-especial {
  border-color: darkred;
}

.card-posicao-imagem {
  object-fit: cover;
  height: 200px;
}
